.advantage {
    min-height: 470px;
    background-color: #f6f6f6;
    padding-bottom: 78px;
    &__wraper {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        display: block;
        margin: 0 auto;
    }
    &__subheader {
        margin-top: 38px;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
    &__descr {
        margin-top: 26px;
        max-width: 250px;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        span {
            color: #ff0000;
            text-decoration: underline;
        }
    }
    &__icon {
        &_animated {
            animation-name: heartbeat;
            animation-duration: 1.2s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;

        }
        &:hover {
            animation-play-state: paused;
        }
    }

}